$color-black: black;
$color-white: white;
$color-background: #3C77BD;

$wave-one: #427dc1;
$wave-two: #4986bf;
$wave-three: #5ea5d9;
$wave-four: #7ac4f3;

$cloud: #F6F6F6;

$color-yellow: #F6B343;
$color-orange: #D46000;
$color-brown: #964204;

$color-overlay: #ba5b24;

$color-progress: #f89728;