$color-black: black;
$color-white: white;
$color-background: #3C77BD;

$wave-one: #427dc1;
$wave-two: #4986bf;
$wave-three: #5ea5d9;
$wave-four: #7ac4f3;

$cloud: #F6F6F6;

$boat: #a4aaba;
$sail-one: #cfc9c9;
$sail-two: #e8f2f1;


$yellow: #fde8a9;
$orange: #f5ae83;
