@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    overflow: hidden;
}
.wrapper {
    width: 100%;
    height: 100%;
    background: $color-background;
    overflow: hidden;
    position: relative;
}
.sun {
    background: linear-gradient(0.25turn, #F5AE83, #FDE8A9);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 13% auto;
    animation: rotate 2s linear infinite;
}
.sea {
    width: 150%;
    margin-top: 70vh;
    margin-left: -10%;
    height: 30vh;
    position: relative;
    &__wave {
        box-shadow: 0px -1px 10px 0px rgba(0, 0, 0, 0.3);
        // transform-origin: 200% center;
        &:nth-of-type(1) {
            height: 70px;
            background: $wave-one;
            animation: rotate 4s linear infinite;
        }
        &:nth-of-type(2) {
            height: 70px;
            margin-top: -40px;
            background: $wave-two;
            animation: rotate 3s linear infinite;
        }
        &:nth-of-type(3) {
            height: 60px;
            margin-top: -40px;
            background: $wave-three;
            animation: rotate 3.5s linear infinite;
        }
        &:nth-of-type(4) {
            margin-top: -40px;
            height: 400px;
            background: $wave-four;
            animation: rotate 6s linear infinite;
        }
    }
}
@keyframes rotate {
    from {
        transform: rotate(0deg) translateX(5px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(5px) rotate(-360deg);
    }
}